<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="mironcoder" />
  <meta name="email" content="mironcoder@gmail.com" />
  <meta name="profile" content="https://themeforest.net/user/mironcoder" />
  <meta name="template" content="HoaYen" />
  <meta name="title" content="HoaYen" />
  <meta name="keywords"
    content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online" />

  <title>Book - Nhà Sách Trực Tuyến Tốt Nhất</title>
  <link rel="icon" href="images/favicon.png" />
  <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
  <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
  <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
  <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
  <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
  <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
  <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/about.css" />
</head>

<body>

  <!--************************************
				Header Start
		*************************************-->
  <header th:replace="~{/web/fragments/header :: header}"></header>
  <!--************************************
				Header End
		*************************************-->

  <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center">
    <div class="container">
      <h2>Giới thiệu</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>

      </ol>
    </div>
  </section>

  <section class="about-choose">
    <div class="container">
      <div class="row">
        <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
          <div class="section-heading">
            <h2>Tại sao mọi người chọn hoa tươi hàng ngày với chúng tôi</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="choose-card">
            <div class="choose-icon"><i class="icofont-fruits"></i></div>
            <div class="choose-text">
              <h4>Hoa tươi bốn mùa</h4>
              <p>
                Mang đến cho bạn những bông hoa tươi thắm và đa dạng suốt cả năm. Với sự chăm sóc tỉ mỉ và tình yêu dành
                cho từng cánh hoa, chúng tôi tự hào cung cấp những bó hoa đẹp nhất, phù hợp với mọi dịp và nhu cầu của
                bạn. Dù là mùa xuân rực rỡ, hè nồng nàn, thu quyến rũ hay đông lạnh giá, bạn luôn có thể tìm thấy những
                bông hoa tươi mới và rực rỡ.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-card">
            <div class="choose-icon">
              <i class="icofont-vehicle-delivery-van"></i>
            </div>
            <div class="choose-text">
              <h4>Giao hàng trong vòng một giờ</h4>
              <p>
                Không cần phải chờ đợi lâu để nhận được sản phẩm mình mong muốn. Chúng tôi cam kết mang đến cho bạn trải
                nghiệm mua sắm tiện lợi và nhanh chóng nhất. Cho dù bạn đang cần một bó hoa tươi thắm, một món quà ý
                nghĩa hay bất kỳ sản phẩm nào, chúng tôi sẽ đảm bảo giao hàng đến tận tay bạn trong vòng một giờ. Với sự
                tận tâm và chuyên nghiệp, chúng tôi luôn sẵn sàng phục vụ bạn mọi lúc, mọi nơi, mang đến sự hài lòng
                tuyệt đối.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-card">
            <div class="choose-icon"><i class="icofont-loop"></i></div>
            <div class="choose-text">
              <h4>Chính sách hoàn trả nhanh chóng</h4>
              <p>
                Cam kết mang đến cho khách hàng sự yên tâm và hài lòng tuyệt đối. Nếu bạn không hoàn toàn hài lòng với
                sản phẩm đã mua, hãy liên hệ với chúng tôi ngay. Chúng tôi sẽ tiến hành quy trình hoàn trả một cách
                nhanh chóng và dễ dàng. Đội ngũ hỗ trợ khách hàng tận tâm của chúng tôi sẽ đảm bảo rằng bạn nhận được sự
                hỗ trợ tốt nhất, giúp quá trình hoàn trả trở nên đơn giản và thuận tiện. Sự hài lòng của bạn là ưu tiên
                hàng đầu của chúng tôi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-card">
            <div class="choose-icon"><i class="icofont-support"></i></div>
            <div class="choose-text">
              <h4>Nhóm hỗ trợ tức thì</h4>
              <p>
                Luôn sẵn sàng để giúp đỡ bạn mọi lúc, mọi nơi. Với đội ngũ chuyên viên tận tâm và chuyên nghiệp, chúng
                tôi cam kết mang đến sự hỗ trợ nhanh chóng và hiệu quả nhất. Dù bạn gặp bất kỳ vấn đề gì, từ thắc mắc về
                sản phẩm đến yêu cầu dịch vụ, hãy yên tâm rằng chúng tôi sẽ giải quyết ngay lập tức. Sự hài lòng của bạn
                là ưu tiên hàng đầu của chúng tôi, và chúng tôi luôn nỗ lực không ngừng để đảm bảo bạn có trải nghiệm
                tốt nhất.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="news-part" style="background: url(images/newsletter.jpg) no-repeat center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 col-xl-7">
          <div class="news-text">
            <h2>Nhận Chiết Khấu 20% Cho Người Đăng Ký</h2>
            <p>Nhận Chiết Khấu 20% Cho Người Đăng Ký</p>
          </div>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-5">
          <form class="news-form">
            <input type="text" placeholder="Nhập Địa Chỉ Email Của Bạn" />
            <button>
              <span><i class="icofont-ui-email"></i>Gửi</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-part">
    <div class="container">
      <div class="row intro-content">
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon">
              <i class="fas fa-truck"></i>
            </div>
            <div class="intro-content">
              <h5>Giao Hàng Tận Nhà Miễn Phí</h5>
              <!--<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon">
              <i class="fas fa-sync-alt"></i>
            </div>
            <div class="intro-content">
              <h5>Chính Sách Hoàn Trả</h5>
              <!--<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon">
              <i class="fas fa-headset"></i>
            </div>
            <div class="intro-content">
              <h5>Hệ Thống Hỗ Trợ</h5>
              <!--<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>-->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="intro-wrap">
            <div class="intro-icon">
              <i class="fas fa-lock"></i>
            </div>
            <div class="intro-content">
              <h5>Cách Thanh Toán An Toàn</h5>
              <!--<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--************************************
				Footer Start
		*************************************-->
  <footer th:replace="~{/web/fragments/footer :: footer}"></footer>

  <!--************************************
				Footer End
		*************************************-->


  <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="vendor/bootstrap/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>
  <script src="vendor/countdown/countdown.min.js"></script>
  <script src="vendor/niceselect/nice-select.min.js"></script>
  <script src="vendor/slickslider/slick.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="js/nice-select.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/accordion.js"></script>
  <script src="js/venobox.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/main.js"></script>
</body>

</html>